@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color Palette */
:root {
    --color-primary: #4289C1;
    --color-secondary: #7EBEFA;
    --color-tertiary: #D6F4FF;
    --color-accent: #E39E21;
}

/* General Styles */
h1, h2, h3 {
    font-family: Henny Penny, cursive
}

p {
    font-family: Nunito, sans-serif;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}

.btn{
    font-family: Nunito, sans-serif;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}

.btn1 {
    font-family: Henny Penny, cursive;
    background-color: var(--color-accent);
}

.correct{
    background-color: green !important;
}

.incorrect{
    background-color: red !important;
}

/*Header*/

header {
    background-image: url("../images/wiz-hero.webp");
    background: no-repeat center cover;
    min-height: 35vh;
    max-height: 90vh;
    object-fit: contain;
}

/* Question */
#question-number{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--color-tertiary);
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem 0;
    max-width: 200px;
}

/* Score */

#score-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--color-tertiary);
    border-radius: 10px;
    /* margin: 1rem 0; */
    max-width: 200px;
}