@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color Palette */
:root {
    --color-primary: #4289C1;
    --color-secondary: #7EBEFA;
    --color-tertiary: #D6F4FF;
    --color-accent: #E39E21;
}

/* General Styles */
h1, h2, h3 {
    font-family: Henny Penny, cursive;
    align-items: center;
}

p {
    font-family: Nunito, sans-serif;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}

.btn {
    font-family: Henny Penny, cursive;
}

.correct{
    background-color: green !important;
}

.incorrect{
    background-color: red !important;
}

header {
    margin-bottom: 20px; /* Add space below the header */
}

header img {
    width: 100%;
    display: block;
    margin: 0 auto;
    min-height: 50vh;
}

#questions {
    margin-bottom: 20px;
}

#question-text {
    margin-bottom: 20px; 
}

button.btn-primary {
    margin: 10px; 
}

footer {
    padding: 20px 0;
    background-color: var(--color-accent); 
    color: white;
}

footer a {
    color: var(--color-primary); 
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-secondary);
}